---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | Stefan Prodan`} description={frontmatter.description}>
  <article class="prose">
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</BaseLayout>

<style>
  h1 {
    font-size: 2rem;
    margin: 1rem 0 1.5rem;
  }
</style>
