---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="https://stefanprodan.com/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if site.author.twitter_username %}
  <div class="share">
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" data-via="{{ site.author.twitter_username }}" data-dnt="true" data-show-count="false">Tweet</a>
	<a href="https://twitter.com/{{ site.author.twitter_username }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.author.twitter_username }}</a>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  {% endif %}
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
