name: publish

on:
  workflow_dispatch:
  push:
    branches: [ 'main', 'blog*' ]
    tags: [ 'v*' ]

permissions:
  contents: read

jobs:
  mkdocs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Build and Push to GH Pages
        uses: mhausenblas/mkdocs-deploy-gh-pages@e55ecab6718b449a90ebd4313f1320f9327f1386 # master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: stefanprodan.com
          CONFIG_FILE: mkdocs.yml
